﻿@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2310900042</p>
    <p>Họ và tên: Nông Văn Hưng</p>
    <p>Email: nongvanhungcb2k5@gmail.com</p>
    <p>Điện thoại: 0833 484 935</p>
    <p>Lớp: K23CNT2</p>
</div>