@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Ma sinh vien: 2310900042</p>
    <p>Ho va Ten:Nong Van Hung</p>
    <p>Email:nongvanhungcb2k5@gmail.com</p>
    <p>Phone:0833484935</p>
    </html>
</div>
