@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container">
    <div class="header"> 
        <div class="col-sm-1" heght="100px">
            <img src="~/images/quangcao.png" style="width:1000px; height:auto;" />
        </div>
    </div>
    <div class="nav">
		<h1>Danh sách sản phẩm</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="~/images/bag1.png" style="width:120px; height:100px;" />
            <p>Product Name 1</p>
        </div>
        <div class="col-md-3">
            <img src="~/images/bag2.png" style="width:120px; height:100px;" />
            <p>Product Name 2</p>
        </div>
        <div class="col-md-3">
            <img src="~/images/bag3.png" style="width:120px; height:100px;" />
            <p>Product Name 3</p>
        </div>
        <div class="col-md-3">
            <img src="~/images/bag4.png" style="width:120px; height:100px;" />
            <p>Product Name 4</p>
        </div>
    </div>
</>
