
@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div>
    <h1>Thong tin sinh vien</h1>
    <hr />
    <p>Ma sinh vien:2310900042</p>
    <p>Ho Va ten:Noong Van Hung </p>
    <p>Lop:K23cnt2</p>
    <p>Email:nongvanhungcb2k5@gmail.com</p>
    <p>phone:0833484935</p>

</div>