@model List<NvhWebBanHang.Models.NvhProduct>

<h2>Quản lý sản phẩm</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NvhID</td>
                <td>@item.NvhName</td>
                <td>@item.NvhPrice.ToString("N0") đ</td>
                <td>@item.NvhCreatedAt.ToString("dd-MM-yyyy")</td>
                <td><img src="~/images/@item.NvhImage" width="50" /></td>
                <td><a class="btn btn-success" href="#">View</a></td>
            </tr>
        }
    </tbody>
</table>
